<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">Bio</a></li>
			<li class="menu__entry"><a href="{{ '/music' | prepend: site.baseurl }}">Music</a></li>
			<li class="menu__entry"><a href="{{ '/downloads' | prepend: site.baseurl }}">Downloads</a></li>
			<li class="menu__entry"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact Me</a></li>
            <li class="menu__entry"><a href="https://www.instagram.com/jade_rose_music/">Projects</a></li>
        </ul>
    </div>

    <ul class="social-links">
        

       
            <a href="https://www.instagram.com/jade_rose_music/" class="social-links__entry" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
			
			<a href="https://www.youtube.com/channel/UC-LsL7haDdBQ9zvH_3LHIrw" class="social-links__entry" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        
			<a href="https://itunes.apple.com/us/album/moonstone/1434983044?app=music&ign-mpt=uo%3D4" class="social-links__entry" target="_blank">
                <i class="fa fa-apple music"></i>
            </a>
        
    </ul>
</header>

